.card-container {
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 50%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  transition: top 1s ease-in-out;

  .card {
    background-color: rgba($color: #1e1e24, $alpha: 0.95);
    color: hsla(0, 0%, 100%, 0.8);

    .theme-image {
      object-fit: cover;
      width: 100%;
    }

    .title {
      display: block;
      border-bottom: 1px solid #fff;
      a {
        color: inherit;
      }
    }
    .article-date {
      font-size: 70%;
    }
  }

  .card-body {
    height: auto;
    max-height: 15rem;
    font-size: 90%;
    transition: max-height 1s ease-in;
    overflow: hidden;
  }

  // Small devices
  @media (min-width: 320px) and (max-width: 767.98px) {
    .card-body {
      max-height: 5rem;
    }
  }

  // Medium devices
  @media (min-width: 768px) {
   .card-body {
      max-height: 30rem;
      font-size: 102%;
    }
  }

  &.mini {
    height: 1.5em;
    width: 100%;
    margin-right: auto;
    margin-bottom: 1.24rem;
    margin-top: 0;

    .title {
      height: 80%;
      font-size: 80%;
      a {
        color: #000;
      }
    }
  }

  &.full {
    width: 98%;
  }
}

.card-container.opened {
  .card-body {
    max-height: 2000rem;
  }
}

.card-container.closed {
  .card-body {
    transition: max-height 0.7s ease-out;
    max-height: 10rem;
    overflow: hidden;
    text-overflow: hidden;
  }
}

.truncated {
  position: relative;
  background: linear-gradient(
    rgba($color: #1e1e24, $alpha: 0),
    rgba($color: #1e1e24, $alpha: 0.5),
    rgba($color: #1e1e24, $alpha: 1)
  );

  h6 {
    position: relative;
    top: 14rem;
    font-size: 2rem;
  }

  height: 14rem;
  top: -14rem;
  margin-bottom: -14rem;
}

@media (min-width: 768px) {
  .truncated {
    background: linear-gradient(rgba(30, 30, 36, 0), rgba(30, 30, 36, 0.8), #1e1e24);
    height: 15rem;
    top: -15rem;
   }
 }

