<div class="rounded card-container"
  (mouseenter)="toggleElevation()"
  (mouseleave)="toggleElevation()"
  (click)="openArticle($event)"
    [ngClass]="{
      opened: isExpandedView,
      closed: !isExpandedView && isTouched,
      mini: isMini,
      full: isFull
    }"
>
  <mat-card class="rounded card">
    <mat-card-title class="title text-center" tabindex="0">
      <h3 class="d-inline-block"><a [routerLink]="[article.id]">{{article.title}}</a></h3>
      <app-copy-to-clipboard
        [description]="'Copy Sharable Link'"
        [contentToCopy]="articleUrl"
        (copied)="copyArticleLink()"
      >
      </app-copy-to-clipboard>
    </mat-card-title>
    <div class="text-info article-date">{{ article.createdAt | date }}</div>

    <mat-card-content *ngIf="!isMini" >
      <div class="row card-body">
        <div
          class="theme-image-wrapper col-12"
          [ngClass]="{'col-sm-4 col-md-3 col-lg-5': !isExpandedView}"
        >
          <img [src]="themeImage" class="theme-image" alt="Article theme image" mat-card-xl-image />
        </div>
        <div class="col-12 pt-3"
          [ngClass]="{'col-sm-8 col-md-9 col-lg-7 pt-0': !isExpandedView}"
          [innerHTML]="articleBody | markdown"
       >
      </div>
      </div>

    </mat-card-content>

    <!-- Audience Section  -->
    <mat-card-content class="card-body" *ngIf="showAudienceSection && isExpandedView">
      <div class="row actions-wrapper">
        <div class="col-12">
          <app-article-actions
            (applaud)="submitApplauds($event)"
            (updateUserApplaud)="updateAudienceApplauds($event)"
            (addComment)="submitComment($event)"
            [articleId]="article?.id"
            [currentAudience]="currentAudience"
            [currentAudienceApplauds]="currentUserApplauds"
            [activities]="audienceActivities"
          >
          </app-article-actions>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
  <div class="truncated" *ngIf="!isExpandedView">
    <button title="Read More" class="rounded article-cta">
      Read more and Comment
    </button>
  </div>
</div>
