<div class="rounded card-container"
  (mouseenter)="toggleElevation()"
  (mouseleave)="toggleElevation()"
  (click)="openArticle($event)"
  [ngClass]="{
    opened: isExpandedView,
    closed: !isExpandedView && isTouched,
    mini: isMini,
    full: isFull
  }"
>
  <mat-card
    class="rounded card"
    [class.mat-elevation-z1]="!isActive && !isExpandedView"
    [class.mat-elevation-z8]="isExpandedView && !shouldHideShadows"
  >
    <mat-card-title class="title text-center">
      <h3 class="d-inline-block"><a [routerLink]="[article.id]">{{article.title}}</a></h3>
      <app-copy-to-clipboard
        [description]="'Copy Sharable Link'"
        [contentToCopy]="articleUrl"
        (copied)="copyArticleLink()"
      >
      </app-copy-to-clipboard>
    </mat-card-title>
    <ng-container *ngIf="themeImage">
      <img class="theme-image" mat-card-lg-image [src]="themeImage"/>
    </ng-container>
    <div class="text-info article-date">{{ article.createdAt | date }}</div>
    <mat-card-content *ngIf="!isMini" class="card-body" [innerHtml]="articleBody" markdown>
    </mat-card-content>
    <mat-card-content class="card-body" *ngIf="isExpandedView">
      <div class="row">
        <div class="col-sm-12 col-lg-11 col-xl-10 mx-auto">
          <app-article-actions
            (applaud)="submitApplauds($event)"
            (updateUserApplaud)="updateAudienceApplauds($event)"
            (addComment)="submitComment($event)"
            [articleId]="article?.id"
            [currentAudience]="currentAudience"
            [currentAudienceApplauds]="currentUserApplauds"
            [activities]="audienceActivities"
          >
          </app-article-actions>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
  <div class="truncated" *ngIf="!isExpandedView">
    <button title="Read More" class="rounded article-cta">
      Read more and Comment
    </button>
  </div>
</div>
