.articles-container {
  // display: flex;
  // flex-direction: column;
  // // width: 100%;
  // overflow-x: hidden;
  // .header {
  //   margin-bottom: 2rem;
  //   font-weight: bold;
  // }

  width: 98%;
}

.scroll-hidden {
  overflow-y: hidden;
}

.scroll-auto {
  overflow-y: auto;
}

@media (min-width: 320px) and (max-width: 992px) {
  .articles-container {
    margin-top: 42%;
  }
}
