<app-articles-content-wrapper>
  <app-article
  [config]="articleConfig"
  *ngFor="let article of articles$ | async"
  [article]="article"
  (notify)="showNotification($event)"
  (opened)="setSelectedArticle($event)"
>
</app-article>
<ng-container *ngIf="selectedArticle">
  <app-article-actions
    (applaud)="submitApplauds($event)"
    (updateUserApplaud)="updateAudienceApplauds($event)"
    (commentSectionToggled)="toggleScrollBar($event)"
    (addComment)="submitComment($event)"
    [articleId]="selectedArticle.id"
    [currentAudience]="audience$ | async"
    [currentAudienceApplauds]="currentUserApplauds"
    [activities]="audienceActivities$ | async"
  >
  </app-article-actions>
</ng-container>
</app-articles-content-wrapper>
