
@media (min-width: 320px) and (max-width: 767.98px) {
  .articles-list-row {
    margin-left: 1.5%;
  }
}

// Medium devices
// @media (min-width: 768px) and (max-width: 991.98px) {
//   .articles-container {
//     margin: auto;
//     margin-top: 14% !important;
//     width: 100%;
//   }
// }

// Large devices
// @media (min-width: 992px) {
  // @media(min-width: 768px) {
  // .articles-container {
  //   margin: 0 !important;
  //   margin-left: -3rem !important;
  //   margin-top: 9% !important;
  //   width: 60%;
  // }
// }

.articles-list-row{


  .articles-list,
  .comment-section {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    transition: all .3s ease-in-out;
  }

  .comment-section {
    height: 100%
  }

  transition: all .3s ease-in-out;
}


@media(min-width: 1140px) {
  .articles-list-row {

    .articles-list {
      &.article-unselected {
        overflow: visible;
      }
    }
  }
}
