<div class="articles-container" >
  <header class="header">
    <h2>Articles and Tutorials</h2>
  </header>
  <app-article
    [config]="articleConfig"
    *ngFor="let article of articles$ | async"
    [article]="article"
    (notify)="showNotification($event)"
    (opened)="setSelectedArticle($event)"
  >
  </app-article>

  <ng-container *ngIf="selectedArticle">
    <app-article-actions
      (applaud)="submitApplauds($event)"
      (updateUserApplaud)="currentUserApplauds=$event"
      (commentSectionToggled)="toggleScrollBar($event)"
      [articleId]="selectedArticle.id"
      [currentAudience]="audience$ | async"
      [currentAudienceApplauds]="currentUserApplauds"
      [activities]="audienceActivities$ | async"
      (addComment)="submitComment($event)"
    >

    </app-article-actions>
  </ng-container>

</div>
