<div class="card-container">
  <mat-card
    class="card"
  >
    <img src="'assets/poetry.jpg'" [alt]="'title'">
    <mat-card-title class="title  text-center">
      <a [routerLink]="[1]">{{poem.title}}</a>
        <i class="fa fa-copy text-primary"></i>
    </mat-card-title>
    <mat-card-content class="card-body" [innerHtml]="poem.body" markdown>
    </mat-card-content>
    <mat-card-actions   align="end">
      <span>
        <button>Like</button>
        900+
      </span>
    </mat-card-actions>
  </mat-card>
</div>
