.card-container {
  cursor: pointer;
  margin-bottom: 1rem;
  width: 50%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.5);

  .card {
    background-color:  rgba(130, 2, 99, .5);
    color: hsla(0,0%,100%,.8);
  }

  .title {
    a {
      color: hsla(0,0%,100%,.8)
    }
  }

  .card-body {
    height: auto;
    max-height: 10rem;
    font-size: large;
    transition: max-height 1s ease-in;
    overflow: hidden;
  }

  &.mini {
    height: 1.5em;
    width: 100%;
    margin-right: auto;
    margin-bottom: 1.24rem;
    margin-top: 0;

    .title {
      height: 80%;
      font-size: 80%;
        a {
          color: #000;
        }
    }
  }

  &.full {
    width: 98%;
  }
}

.card-container.opened {
  .card-body {
    max-height: 2000rem;
  }
}

.card-container.closed {
  .card-body {
    transition: max-height .7s ease-out;
    max-height: 10rem;
    overflow: hidden;
    text-overflow: hidden;
  }
}


