
<app-articles-content-wrapper>
  <ng-container *ngIf="(article$ | async) as article">
    <app-article
        [config]="articleConfig"
        [article]="article"
        [currentAudience]="audience$ | async"
        [currentUserApplauds]="currentAudienceApplauds"
        [audienceActivities]="(audienceActivities$ | async)"
        (notify)="showNotification($event)"
        (applaud)="submitApplauds($event)"
        (updateUserApplaud)="updateAudienceApplauds($event)"
        (addComment)="submitComment($event)"
      >
      </app-article>
  </ng-container>
</app-articles-content-wrapper>
