
<div *ngIf="(poems$ | async) as poems" class="slideshow">
  <ng-container *ngIf="(selectedPoem$ | async) as poem">
    <app-poem-full-card
      [poem]="poem"
      [maxHeight]="'52vh'"
    >
    </app-poem-full-card>
    <div
      class="mat-elevation-z4 p-2 actions"
      (click)="$event.stopPropagation()"
    >
    <div class="slide-controls">
      <app-slide-control
        (previous)="goToPreviousSlide(poem.id, poems)"
        (next)="goToNextSlide(poem.id, poems)"
        (play)="startSlideshow(poem.id, poems)"
        (pause)="pauseSlideshow()"
        [controlsColor]="'#fff'">
      </app-slide-control>
    </div>

      <div *ngIf="(selectedPoem$ | async) as poem">
        <app-applauds-button
          [totalApplauds]="totalApplauds$ |  async"
          [currentAudienceApplauds]="currentUserApplauds"
          [currentAudience]="audience$ | async"
          [articleId]="poem.id"
          (applaud)="submitApplauds($event)"
          (updateUserApplaud)="updateAudienceApplauds($event)"
      ></app-applauds-button>
      </div>

    </div>
  </ng-container>
</div>


<ng-container *ngIf="(selectedPoem$ | async) as poem">
  <app-poetry-actions
    (applaud)="submitApplauds($event)"
    (updateUserApplaud)="updateAudienceApplauds($event)"
    (commentSectionToggled)="hidePoem($event)"
    (addComment)="submitComment($event)"
    [articleId]="poem.id"
    [currentAudience]="audience$ | async"
    [currentAudienceApplauds]="currentUserApplauds"
    [activities]="poem.audienceActivities"
  >

  </app-poetry-actions>
</ng-container>
