

.wrapper {
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: rgba(30, 30, 36, 0.99);
  z-index: 4000;
  transition: width 0.5s ease-in-out;
  .comments-container {
    width: 87%;
  }
}

.actions-container {
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5.8rem;
    width: 2rem;
    padding: 0.3rem;
    margin-top: 122%;
    box-sizing: content-box;

    .applauds-count,
    .comments-count {
      color: #f6f6f6;
      font-weight: bolder;
      position: relative;
      font-size: 0.8rem;
      right: -61%;
    }

    .applauds-count {
      top: -37%;
      right: -61%;
    }

    .comments-count {
      top: 29%;
      right: 5%;
    }

    .icon {
      img {
        width: 2rem;
      }

      i {
        font-size: 1.3rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.comment-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  top: 0.5%;

  input,
  textarea {
    display: block;
    width: 100%;
    font-size: 90%;
    background-color: rgba($color: #eeeeef, $alpha: 0.7);
    color: #fff;
    padding: 0.5rem;
    margin-top: 0.3rem;
    transition: all 0.5s ease-in-out;
  }

  textarea {
    padding-top: 0.8rem;
    resize: none;
    margin-bottom: -0.35rem;
    height: 8.5rem;
    margin-bottom: 0.1rem;

    &.focus {
      height: 6rem;
    }
  }
  input[type='email'].ng-invalid {
    outline: #aa1b1b solid 1px;
    border: none;
  }

  .email-error {
    font-size: 50%;
    color: #aa1b1b;
    background-color: white;
  }

  button {
    display: block;
    background-color: rgb(30, 30, 50);
    color: rgba($color: #fff, $alpha: 0.8);
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
  }

  button.back {
    background-color: white;
    color: rgb(30, 30, 50);
  }

  .buttons-wrapper {
    width: 100%;
    justify-content: space-between;
    margin-top: 0.3rem;
  }

  .char-counter {
    position: absolute;
    top: 0;
    font-size: 75%;
    letter-spacing: 0;
    font-size: 60%;
    padding: 2px;
    padding-left: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    right: 0;
    font-weight: bold;
  }

  transition: all 0.5s ease-in-out;
}

.comments {
  margin-top: 1rem;
  position: relative;
  top: .5%;
  left: 8%;
  padding-bottom: 2rem;
  overflow-y: hidden;
  .comment {
    padding: 1rem;
    display: flex;
    position: relative;
    color: white;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.1);

    .audience-name {
      text-decoration: underline;
      padding-right: 10px;
      font-size: 105%;
    }

    .audience-comment {
      font-size: 80%;
    }

    margin-bottom: 1rem;
  }

  transition: all 0.5s ease-in-out;
}

.actions-container {
  margin-left: -1rem;

  .icon {
    background-color: rgba(255, 255, 255, 0.2);
    height: 2.2rem;
    width: 2rem;
    margin-bottom: .5rem;
  }

  .actions i {
    position: relative;
    top: 0.4rem;
    left: 0.3rem;
    color: #000000;
  }
}


@media (min-width: 320px) and (max-width: 767.98px) {


  .form-info {
    font-size: 0.1rem;
  }

  .comments {
    width: 116%;
    .comment {
      width: 128%;

      .audience-name {
        margin-right: auto;
        text-align: left !important;
      }
    }
  }

  .submitting {
    margin: auto;
    width: 100%;

    form {
      margin-left: -0.9rem;
      width: 112%;

      .buttons-wrapper {
        width: 104%;
        margin: auto;
      }
    }
  }
}
