
<div
  class="backdrop"
  [ngClass]="{ 'hide-form': !isCommentSectionOpen}"
  (click)="toggleCommentSection()"
></div>

<div class="wrapper" [ngClass]="{ 'hide-form': !isCommentSectionOpen}">
  <div
    class="comments-container"
    *ngIf="isCommentSectionOpen"
  >
    <h4 class="text-center text-underline">Comment Section</h4>

    <form
      *ngIf="isCommentSectionOpen"
      class="mat-elevation-z2 comment-form"
    >
      <ng-container *ngIf="isCollectingAudDetails">
        <span class=text-info>If you do not provide email or name, your comment would appear as anonymous</span>
        <input type="text" name="name" [(ngModel)]="name" placeholder="name (optional)"/>
        <input #emailInput="ngModel" email type="email" name="email" [(ngModel)]="email" placeholder="email (optional)"/>
        <span class="email-error" *ngIf="emailInput.invalid">Wrong email format</span>
        <span class="buttons-wrapper">
          <button class="back" (click)="isCollectingAudDetails=false">Back to comment</button>
          <button class="submit" (click)="submitComment()">Submit comment</button>
        </span>
      </ng-container>
      <ng-container *ngIf="!isCollectingAudDetails">
        <textarea
        name="comment"
        placeholder="Please drop a comment"
        autofocus
        #commentArea="ngModel"
        minlength="4"
        maxlength="300"
        [ngClass]="{ 'focus': comment.length > 4 }"
        (focus)="canContinue=true"
        (focusout)="canContinue=false"
        [(ngModel)]="comment">
      </textarea>
      <span class="char-counter">
        {{ comment.length }} / 300
      </span>
      <button
        *ngIf="comment.length > 4"
        type="button"
        (click)="isCollectingAudDetails=true">
        Next
      </button>
      </ng-container>
    </form>
    <div class="comments">
      <ng-container
        *ngIf="comments"
      >
      <div class="comment" *ngFor="let com of comments | orderBy: 'com.date' : true">
        <span class="text-info audience-name">
          <span *ngIf="com.audience">
            {{ com.audience }} Says
          </span>
          <span class="text-info audience-name" *ngIf="!com.audience">
            Anonymous Says
          </span>
        </span>
        <div class="audience-comment">
         {{ com.comment}}
         <div class="text-right text-info">{{ com.date | timeago:'live' }}</div>

        </div>
      </div>
      </ng-container>
    </div>
  </div>
  <div [@transitionInOut] class="actions-container">
    <div class="actions">
      <span class=" mat-elevation-z8 icon" (click)="clap()">
        <img src="assets/clap.png" alt="Applaud">
        <span *ngIf="!isClapping" class="applauds-count">{{ totalApplauds }}</span>
      <span *ngIf="isClapping" class="applauds-count">{{ currentAudienceApplauds }}</span>
       </span>
       <span class="mat-elevation-z8 icon" (click)="toggleCommentSection()">
         <i class="fa fa-comment"></i>
        <span class="comments-count">{{comments?.length}}</span>
       </span>
    </div>
  </div>
</div>
