.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  top: 0;
  left: 0;
}

.wrapper {
  width: 70%;
  display: flex;
  position: fixed;
  top: 7%;
  right: 0;
  padding: 10px;
  background-color: rgba($color: #000, $alpha: 0.96);
  z-index: 4000;
  transition: width 0.5s ease-in-out;
  .comments-container {
    width: 87%;
  }
}

.actions-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 2px;
  position: relative;
  left: -2rem;

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8rem;
    background-color: rgba($color: #000, $alpha: 0);
    width: 2rem;
    padding: 0.3rem;
    margin-top: 95%;
    box-sizing: content-box;

    .applauds-count,
    .comments-count {
      color: #f6f6f6;
      font-weight: bolder;
      position: relative;
      font-size: 0.8rem;
      right: -61%;
    }

    .applauds-count {
      top: -37%;
      right: -61%;
    }

    .comments-count {
      top: -32%;
      right: -32%;
    }

    .icon {
      display: inline-flex;
      margin-bottom: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: fit-content;
      border-radius: 100%;
      padding-right: 0.9rem;
      padding-left: 0.9rem;
      padding-top: 0.7rem;

      background-color: rgba($color: #fff, $alpha: 0.5);

      img {
        display: inline-block;
        width: 2rem;
        height: 2rem;
      }

      i {
        font-size: 2rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  .wrapper {
    top: 7rem;
    width: 88%;
  }

  .actions-container {
    left: -0.5rem;

    .icon {
      padding-right: 0.7rem;
      padding-left: 0.7rem;
      padding-top: 0.3rem;
    }

    .actions i {
      font-size: 1.5rem !important;
      margin-top: 0.4rem;
    }

    .actions img {
      width: 1.5rem !important;
      height: 1.5rem !important;
      margin-top: 0.5rem;
    }
  }
}

.comment-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  top: 0.5%;

  input,
  textarea {
    display: block;
    width: 100%;
    font-size: 90%;
    background-color: rgba($color: #eeeeef, $alpha: 0.7);
    color: #fff;
    padding: 0.5rem;
    margin-top: 0.3rem;
    transition: all 0.5s ease-in-out;
  }

  textarea {
    padding-top: 0.8rem;
    resize: none;
    margin-bottom: -0.35rem;
    height: 8.5rem;
    margin-bottom: 0.1rem;

    &.focus {
      height: 6rem;
    }
  }
  input[type='email'].ng-invalid {
    outline: #aa1b1b solid 1px;
    border: none;
  }

  .email-error {
    font-size: 50%;
    color: #aa1b1b;
    background-color: white;
  }

  button {
    display: block;
    background-color: rgb(30, 30, 50);
    color: rgba($color: #fff, $alpha: 0.8);
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
  }

  button.back {
    background-color: white;
    color: rgb(30, 30, 50);
  }

  .buttons-wrapper {
    width: 100%;
    justify-content: space-between;
    margin-top: 0.3rem;
  }

  .char-counter {
    position: absolute;
    top: 0;
    font-size: 75%;
    letter-spacing: 0;
    font-size: 60%;
    padding: 2px;
    padding-left: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    right: 0;
    font-weight: bold;
  }

  transition: all 0.5s ease-in-out;
}

.comments {
  margin-top: 1rem;
  width: 90%;
  height: 79vh;
  position: relative;
  top: -1%;
  left: 5%;
  padding-bottom: 2rem;
  overflow-y: auto;

  .comment {
    padding: 1rem;
    display: flex;
    position: relative;
    color: white;
    width: 100%;

    .audience-name {
      text-decoration: underline;
      padding-right: 10px;
      text-align: right;
      // width: 30%;
      font-size: 80%;
    }

    .audience-comment {
      // width: 70%;
      font-size: 80%;
    }

    margin-bottom: 1rem;
  }

  transition: all 0.5s ease-in-out;
}

@media (min-width: 320px) and (max-width: 720px) {
  .form-info {
    font-size: 0.1rem;
  }

  .comments {
    width: 116%;
    height: 50vh;

    .audience-name {
      margin-right: auto;
      text-align: left !important;
    }
  }

  .submitting {
    margin: auto;
    width: 100%;

    form {
      margin-left: -0.9rem;
      width: 112%;

      .buttons-wrapper {
        width: 104%;
        margin: auto;
      }
    }
  }
}

@media (min-width: 721px) and (max-width: 1200px) {
  .submitting {
    margin: auto;
    width: 100%;

    form {
      margin-left: -1.3rem;
      width: 112%;

      .buttons-wrapper {
        width: 104%;
        margin: auto;
      }
    }
  }
}

@media (min-width: 721px) {
  .comment-form .buttons-wrapper {
    margin: auto;
  }

  .wrapper .comments-container {
    width: 92%;
    margin-left: auto;
    margin-right: 1rem;

    .audience-comment {
      font-size: 90%;
    }
  }

  @media (min-width: 1825px) {
    .wrapper {
      background-color: rgba(255, 255, 255, 0.05);

      margin: 0 !important;
      // margin-right: auto;
      position: fixed;
      left: 67%;
      // margin-top: 9% !important;
      width: 34%;
      min-height: 93vh;
      .comment-form {
        width: 109%;
        margin-left: 1rem;
      }

      .comments {
        width: 111%;
      }

      .actions-container {
        position: relative;
        left: -101%;
      }
    }
  }
}

.close-button {
  cursor: pointer;
  font-size: 1.2rem;
}
.hide-form {
  width: 4rem;
  background: transparent;
}
