

<ng-container *ngFor="let group of poemsGroupList; index as groupNumber">
  <div class="poems-list-wrapper" *ngIf="groupNumber === currentGroup">
    <div *ngIf="showPreviousButton" class="previous-button">
      <i class="fa fa-caret-left caret-icon"></i>
    </div>
    <div class="row poems-list">
      <div class="col-2 poem" *ngFor="let poem of group">
        <app-poem [poem]="poem"></app-poem>
      </div>
    </div>
    <div *ngIf="showNextButton" class="next-button">
      <i class="fa fa-caret-right caret-icon"></i>
    </div>
  </div>
</ng-container>
