<header
  (window:resize)="setIsMobile()"
  class="row position-fixed fixed-top rounded w-100 nav-container"
  [class.mobile]="isMobile"
  [class.open]="isMobile && isNavOpen"
>
  <button class="col-1 text-center toggle-nav" [hidden]="!isMobile" (click)="toggleNavBar()">
    <i  class="fa" [ngClass]="{'fa-bars': !isNavOpen, 'fa-times': isNavOpen}" ></i>
  </button>
  <nav
    [hidden]="isMobile && !isNavOpen"
    class="col-12 mx-auto"
    [ngClass]="{'col-11': isMobile && isNavOpen}"
  >
    <ul class="text-center row nav-list">
      <li
        class="col-sm-12 col-md-{{link.size.md}} col-lg-{{link.size.lg}}"
        *ngFor="let link of links"
        (click)="toggleNavBarOnNav()"
      >
        <a
          [routerLink]="[link.path]"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active-link"
          class="d-inline-block h-100 w-100"
        >{{link.name}}
        </a>
    </li>
    </ul>
  </nav>
</header>

<main class="container-md home-wrapper p-fixed" [class.open]="isMobile && !isNavOpen">
  <section class="row content align-items-center justify-content-center mat-elevation-z5 rounded">
    <div class="col-12 route-wrapper">
        <router-outlet></router-outlet>
    </div>
  </section>
  <section class="row mt-3 avatar-container">
    <div class="col-12">
      <img src="assets/avatar.png" class="d-block rounded m-auto"/>
    </div>
  </section>
  <section class="row mt-3">
    <div class="col-12 text-center social">
      <a href="https://twitter.com/ngfizzy" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/olufisayo-bamidele-386b94129" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://github.com/ngfizzy" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a href="mailto: olufisayo.bam@gmail.com">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
  </section>
</main>
