

<app-poetry-children-wrapper>
  <div
    class="view-wrapper"
   >
    <div
      class="background"
      [ngStyle]="{
        'background-image': 'url(' + (themeImage$ | async) +')'
       }">
    </div>
    <div class="pb-3 card-container">
      <router-outlet></router-outlet>
    </div>
    <ng-container *ngIf="(poems$ | async) as poems">
      <app-poems-carousel
        [poems]="poems"
        [groupSize]="groupSize"
        [selectedPoemId]="selectedPoemId$ | async"
        (poemSelected)="getSelectedPoem($event)"
      >
      </app-poems-carousel>
    </ng-container>
  </div>

</app-poetry-children-wrapper>
