.poem-container {
  transition: all .5s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(209, 207, 207, 0.23), 0 6px 12px rgba(209, 207, 207,0.23);
  }

  .poem  {
    h6 {
      color: rgb(141 228 255);
      text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                  0px -5px 35px rgba(255,255,255,0.3);
    }

    background-color: #575f67;;
    position: relative;
    width: 100%;
    transition: all .5s ease-in-out;
    color: #dbdbe8  !important;
    padding-bottom: 1rem;
    height: 12rem;
    overflow: hidden;

    .body {
      padding: 1rem;
      padding: 1rem;
      font-size: 83%;
      height: 100%;
      overflow: hidden;
      margin-bottom: .5rem;
    }
  }

  .read-more {
    position: absolute;
    width: 100%;
    bottom: 6.5rem;
    z-index: 1;
  }
}

.theme-image {
  height: 10rem;
}


.poem-cta {
  display: block;
  position: relative;
  margin-right: 1rem;
  margin-left: auto;
  bottom: 38%;
  background-color: rgba(252, 213, 129, 9.8);
  font-size: 0.9rem;
  padding: 0.4rem;
  border: none;
  color: white;
}
