.poem-container {
  transition: all .5s ease-in-out;
  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(209, 207, 207, 0.23), 0 6px 12px rgba(209, 207, 207,0.23);
    // background-color: rgba($color: #1E1E24, $alpha: 0.8);
  }

  .poem  {
    h6 {
      color: rgba($color: #40694e, $alpha: 0.8);
    }
    background-color: rgba($color:#00FFF5, $alpha: 1);
    position: relative;
    width: 100%;
    transition: all .5s ease-in-out;
    color: #1E1E24 !important;
    padding-bottom: 1rem;
    height: 12rem;
    overflow: hidden;

    .body {
      padding: 1rem;
      font-size: 80%;
      padding: 1rem;
      font-size: 80%;
      height: 100%;
      overflow: hidden;
    }
  }

  .read-more {
    position: absolute;
    width: 100%;
    bottom: 6.5rem;
    z-index: 1;
  }
}

.theme-image {
  height: 10rem;
}


.poem-cta {
  display: block;
  position: relative;
  margin-right: 1rem;
  margin-left: auto;
  bottom: 38%;
  background-color: rgba(252, 213, 129, 9.8);
  font-size: 0.9rem;
  padding: 0.4rem;
  border: none;
  color: white;
}
