<div class="w-100 border-white mat-elevation-z2 d-flex horizontal-navbar">
  <button class="btn btn-sm" title="Expand Navbar" (click)="toggleMe()">
    <i class="fa fa-arrow-right text-white"></i>
  </button>
  <div class="hnav-item">
    <h4><a [routerLink]="['/']">JohnDoe.com</a></h4>
  </div>
  <div class="hnav-item ml-auto mr-auto" [class.search-panel]="isSearchPanelOpen">
    <span class="fa fa-times p-2" *ngIf="isSearchPanelOpen" (click)="isSearchPanelOpen = false"></span>
    <input
      #searchbox="ngModel"
      [(ngModel)]="searchTerm"
      (ngModelChange)="performSearch()"
      (focusin)="searchBoxHasFocus = true; isSearchPanelOpen = true"
      (focusout)="searchBoxHasFocus = false"
      name="searchTerm"
      type="search"
      [placeholder]="'Search '+pageTitle+ ' By Title'"
      class="p-2 rounded"/>
    <div
      class="search-results"
      [class.d-none]="(searchbox.dirty === false)  && !searchBoxHasFocus"
    >
        <h3 class="text-capitalize text-center" *ngIf="searchTerm?.length">
          {{ searchResults.length }} Results Found
        </h3>

        <div *ngFor="let result of searchResults" class="row mt-4">
          <h4 class="text-center text-capitalize col-12">
            <a [routerLink]="['/articles', result.id]">{{result.title}}</a>
          </h4>
          <div markdown class="search-result-body col-sm-12 col-md-8 m-auto">
            {{ result.body }}
          </div>
        </div>
    </div>
  </div>
</div>
<div class="collapsed-nav border border-white bg-sidenav" *ngIf="!isOpen">

</div>
<mat-sidenav-container class="bg-sidenav-container">
  <mat-sidenav (closedStart)="toggleMe()" class="bg-sidenav mat-elevation-z5 w-25 position-fixed" ngClass="{ collapsed: !isOpen }" #sidenav [mode]="mode" [opened]="isOpen">
    <a href="/">
      <div class="p-2 border-bottom m-auto">
        <img [src]="nav?.iconUrl" alt="author avatar" width="232">
      </div>
    </a>
    <nav>
      <mat-nav-list  class="color-main">
        <ng-container *ngFor="let item of nav?.items">
          <a [routerLink]="item.path" [queryParams]="item.queries">
            <mat-list-item class="text-capitalize border-bottom">{{ item.name }}</mat-list-item>
          </a>
        </ng-container>
      </mat-nav-list>
    </nav>
  </mat-sidenav>
  <!-- This is  a quick hack to make few pages stick to the top-->
  <mat-sidenav-content [ngClass]="{
    'no-margin-top': removeTopMargin
  }">
    <div class="sidenav-content"
      [ngClass]="{
        'sidenav-content-full': contentUISizing == contentSizingValues.Fill
      }"
    >
     <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
