<div class="w-100 border-white mat-elevation-z2 d-flex horizontal-navbar">
  <button class="btn btn-sm" title="Expand Navbar" (click)="toggleMe()">
    <i class="fa fa-arrow-right text-white"></i>
  </button>
  <div class="mt-auto mb-auto page-title">
    <h3>{{pageTitle}}</h3>
  </div>
</div>
<div class="collapsed-nav border border-white bg-sidenav" *ngIf="!isOpen"></div>
<mat-sidenav-container class="bg-sidenav-container">
  <mat-sidenav (closedStart)="toggleMe()" class="bg-sidenav mat-elevation-z5 w-25 position-fixed" ngClass="{ collapsed: !isOpen }" #sidenav [mode]="mode" [opened]="isOpen">
    <a href="/">
      <div class="p-2 border-bottom m-auto">
        <img [src]="nav?.iconUrl" alt="author avatar" width="232">
      </div>
    </a>
    <nav>
      <mat-nav-list  class="color-main">
        <ng-container *ngFor="let item of nav?.items">
          <a [routerLink]="item.path" [queryParams]="item.queries">
            <mat-list-item class="border-bottom">{{ item.name }}</mat-list-item>
          </a>
        </ng-container>
      </mat-nav-list>
    </nav>
  </mat-sidenav>
  <!-- This is  a quick hack to make few pages stick to the top-->
  <mat-sidenav-content [ngClass]="{
    'no-margin-top': removeTopMargin
  }">
    <div class="sidenav-content"
      [ngClass]="{
        'sidenav-content-full': contentUISizing == contentSizingValues.Fill
      }"
    >
     <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
