.articles-drawer-container {
  width: 100%;
  min-height: 80vh;
  max-height: 83vh;
  margin-left: auto;
  margin-right: auto;
  background: inherit;

  .articles-drawer {
    background: inherit;
    width: 25%;
    border: 1px solid #fafa;
  }

  .sidenav-outlet {
    width: 100%;
    height: 100%;
  }
}
