.articles-drawer-container {
  width: 97%;
  height: 44rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11%;
  background: inherit;

  &::ng-deep .mat-drawer-inner-container {
    margin-top: 0;
  }
  .articles-drawer {
    background: inherit;
    width: 25%;
    height: 66rem;
  }

  .sidenav-outlet {
    width: 100%;
    height: 100%;
  }
}

.toolbar {
  position: fixed;
  top: 5rem;
  z-index: 2000;
  border: solid;
  width: 78%;
  margin-left: 1%;
}
