.articles-drawer-container {
  width: 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: inherit;

  .articles-drawer {
    background: inherit;
    width: 25%;
    height: 66rem;
    margin-top: -4rem;
    border: 1px solid #fafa;
  }

  .sidenav-outlet {
    width: 100%;
    height: 100%;
  }
}
