<ng-container *ngIf="selectedArticleTitle">
  <mat-toolbar class="authors-toolbar mat-elevation-z2">
    <div class="text-primary font-sm">
      <ng-container *ngIf="articleStatus === 'saving'">
        <mat-progress-spinner
            class="p-2 bg-dark"
            mode="indeterminate"
            value="50"
            diameter="15"
            title="'saving'"
        >
        </mat-progress-spinner>
      </ng-container>
      <ng-container *ngIf="articleStatus === 'saved'">
        <i class="
          p-2 bg-dark
          fa
          fa-check
          font-xss"
          title="saved"
        >
        </i>
      </ng-container>
    </div>
    <app-authors-article-title
      [title]="selectedArticleTitle"
      [isEditing]="isEditingTitle"
      (edit)="toggleEditingTitleMode()"
      (save)="onSaveTitle($event)"
      class="ml-auto mr-auto"
    >
    </app-authors-article-title>
    <div class="controls ml-auto mw-25 text-center">
      <span title="edit" class="p-2 bg-dark">
        <a [routerLink]="['edit', selectedArticleId]">
          Edit Article
          <i class="fa fa-edit"></i>
        </a>
      </span>
      <span title="delete article" class="p-2 bg-dark">
        <a href="javascript:;">
          <i class="fa fa-trash"></i>
        </a>
      </span>
    </div>

    <div title="publish">
      <button class="btn btn-primary btn-sm" (click)="gotoPublishPage(selectedArticleId)">
        <span *ngIf="!published">Publish</span>
        <span *ngIf="published">Withhold</span>

        <i class="fa fa-arrow-circle-up"></i>
      </button>
    </div>
  </mat-toolbar>
</ng-container>
<ng-container *ngIf="!selectedArticleTitle">
  <div class="text-center mt-3 text-light">
    <h4>Please select or create article to edit</h4>
  </div>
</ng-container>
