<ng-container *ngIf="article$ | async; let article">
  <div class="ml-auto mt-5 mr-auto mat-elevation-z1 mb-2 rounded publish-container" *ngIf="!article.published; else published">

      <app-authors-publish-section [sectionTitle]="'Tag'">
        <app-authors-tags-panel
        [tags]="article.tags"
        (add)="addTag($event, article.id)"
        (remove)="removeTag($event, article.id)"
        ></app-authors-tags-panel>
      </app-authors-publish-section>


   <app-authors-publish-section [sectionTitle]="'Categories'">
    <form *ngIf="article.categories?.length == 0" (ngSubmit)="addToCategory(category, article.id)" >
      <input type="text" name="category" placeholder="category" [(ngModel)]="category">
      <button type="submit">Add To Category</button>
    </form>

      <h5
        *ngFor="let categoryName of article.categories"
        class="text-light text-center">
          {{ categoryName.name }}
      </h5>
   </app-authors-publish-section>

   <app-authors-publish-section>
    <div title="publish text-center col-10">
      <button class="btn d-inline-block w-100 btn-primary btn-sm text-center ml-auto p-3 d-block mr-auto w-25" (click)="togglePublished(article.id)">
        Publish
        <i class="fa fa-arrow-circle-up"></i>
      </button>
    </div>
   </app-authors-publish-section>
</div>



<ng-template #published>
  <div class="w-75 ml-auto mr-auto text-center text-light">
    <h2>Article Published Successfully</h2>
    <a [routerLink]="['/articles/', article.id ]" class="btn btn-primary">View Article</a>
    <a [routerLink]="['/authors/articles', article.id]" class="btn btn-link">Go to Articles List</a>
  </div>
</ng-template>
</ng-container>
