
<div
  class="backdrop"
  [ngClass]="{ 'hide-form': !isCommentSectionOpen }"
  (click)="$event.stopPropagation(); toggleCommentSection()"
>
</div>

<div class="wrapper" [ngClass]="{
  'hide-form': !isCommentSectionOpen
}"
(click)="$event.stopPropagation()"
>
  <div
    class="comments-container"
    [class.submitting]="isCollectingAudDetails"
    *ngIf="isCommentSectionOpen"
  >
    <span
      (click)="toggleCommentSection()"
      class="text-left text-primary p-2 close-button">
      <i class="fa fa-times"></i>
    </span>
    <h4 class="text-center text-underline">Comment Section</h4>
    <form
      *ngIf="isCommentSectionOpen"
      class="mat-elevation-z2 comment-form"
    >
      <div class="row" *ngIf="isCollectingAudDetails">
        <span class="col-12 text-info form-info">
          If you do not provide email or name, your comment would appear as anonymous
        </span>
        <input
          class="col-12"
          type="text"
          name="name"
          (click)="$event.stopPropagation()"
          [(ngModel)]="name"
          placeholder="name (optional)"/>
        <input
          class="col-12"
          #emailInput="ngModel"
          email
          type="email"
          (click)="$event.stopPropagation()"
          name="email" [(ngModel)]="email"
          placeholder="email (optional)"/>
        <span class="col-12 email-error" *ngIf="emailInput.invalid">Wrong email format</span>
        <div class="row buttons-wrapper">
          <button
            class="col-sm-12 col-md-6 col-lg-6 back"
            (click)="$event.stopPropagation(); isCollectingAudDetails=false">
              Back to comment
          </button>
          <button
            class="col-sm-12 col-md-6 col-lg-6 submit"
            (click)="$event.stopPropagation(); submitComment()">
            Submit comment
          </button>
        </div>
      </div>
      <ng-container *ngIf="!isCollectingAudDetails">
        <textarea
        (click)="$event.stopPropagation()"
        name="comment"
        placeholder="Please drop a comment"
        autofocus
        #commentArea="ngModel"
        minlength="4"
        maxlength="300"
        [ngClass]="{ 'focus': comment.length > 4 }"
        (focus)="$event.stopPropagation(); canContinue=true"
        (focusout)="canContinue=false"
        [(ngModel)]="comment">
      </textarea>
      <span class="char-counter">
        {{ comment.length }} / 300
      </span>
      <button
        *ngIf="comment.length > 4"
        type="button"
        (click)="$event.stopPropagation(); isCollectingAudDetails=true">
        Next
      </button>
      </ng-container>
    </form>
    <div class="row comments">
      <div
        class="col-sm-12"
        *ngIf="comments"
      >
      <div class="row comment" *ngFor="let com of comments | orderBy: 'com.date' : true">
        <span class="col-sm-12 col-md-3 col-lg-3 text-info audience-name">
          <span *ngIf="com.audience">
            {{ com.audience }} Says
          </span>
          <span class="text-info audience-name" *ngIf="!com.audience">
            Anonymous Says
          </span>
        </span>
        <div class="col-sm-12 col-md-9 col-lg-9 audience-comment">
         {{ com.comment}}
         <div class="text-right text-info">{{ com.date | timeago:'live' }}</div>

        </div>
      </div>
      </div>
    </div>
  </div>
  <div [@transitionInOut] class="actions-container" *ngIf="!isCollectingAudDetails">
    <div class="actions">
      <span class=" mat-elevation-z8 icon" (click)="$event.stopPropagation(); clap()">
        <img src="assets/clap.png" alt="Applaud">
        <span *ngIf="!isClapping" class="applauds-count">{{ totalApplauds }}</span>
      <span *ngIf="isClapping" class="applauds-count">{{ currentAudienceApplauds }}</span>
       </span>
       <span class="mat-elevation-z8 icon" (click)="$event.stopPropagation(); toggleCommentSection()">
         <i class="fa fa-comment"></i>
        <span class="comments-count">{{comments?.length}}</span>
       </span>
    </div>
  </div>
</div>
