<div class="mat-elevation-z2 rounded fit-width form-container">
  <ng-container *ngIf="!(contacted$ | async); else contactedText">
    <h5 class="text-center">Contact Me</h5>

    <form #form="ngForm" class="fit-width" (ngSubmit)="sendMessage(form)">
      <mat-error *ngIf="errorMessage">
        {{ errorMessage }}
      </mat-error>
      <mat-form-field class="fit-width mat-form-field" appearance="fill">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          type="email"
          name="email"
          [(ngModel)]="email"
          required
          #emailField="ngModel"
        >
        <mat-error class="alert alert-danger"
          *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)"
        >
          Wrong email format
        </mat-error>
      </mat-form-field>

      <mat-form-field class="fit-width mat-form-field" appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          name="name"
          [(ngModel)]="name"
          minlength="3"
          maxlength="100"
          required
          #nameField="ngModel"
        >
        <mat-error
          class="alert alert-danger"
          *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)">
          Name must be between 3 - 100 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fit-width mat-form-field" appearance="fill">
        <mat-label>Message</mat-label>
        <textarea
          matInput
          type="text"
          name="message"
          [(ngModel)]="message"
          minlength="10"
          maxlength="500"
          required
          #messageField="ngModel"
        >
        </textarea>
        <mat-error
          class="alert alert-danger"
          *ngIf="messageField.invalid && (messageField.dirty || messageField.touched)">
          Message must be between 10 to 500 characters
        </mat-error>
      </mat-form-field>

      <div class="fit-width mat-form-field">
        <button
          mat-raised-button
          color="primary"
          class="fit-width"
          type="submit"
          [disabled]="!form.touched ||  form.invalid"
        >
          Send Message
        </button>
      </div>
    </form>
  </ng-container>

  <ng-template #contactedText>
    <h5 class="text-center">
      Thank you for contacting Fizzy. We'll get back to you shortly.
    </h5>
  </ng-template>
</div>
