.author-info {
  margin-top: 6%;
  margin-left: 1em;
}

.author-description {
  font-size: medium;
}

.author-title {
  font-size: large;
}

.author-subtitle {
  color: hsla(0, 0%, 100%, 0.8);
}

.author-card {
  background-color: rgba(30, 30, 47, 1);
  color: hsla(0, 0%, 100%, 0.8);
}

.sidenav-content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
}

.bg-sidenav-container {
  // background-color: rgba(30, 30, 50, 0.887);
}

.bg-sidenav {
  background-color: rgba(30, 30, 47, 0.977);
}

.mat-list-item {
  color: hsla(0, 0%, 100%, 0.8);
}
