<mat-drawer-container class="posts-drawer-container">
  <mat-drawer mode="side" opened class="posts-drawer">
    <app-authors-post-list-toolbar
      (toggleCreateForm)="isCreating = !isCreating"
      [isCreating]="isCreating"
    >
    </app-authors-post-list-toolbar>
    <div class="mat-elevation-z4 mb-2" *ngIf="isCreating">
      <form
        class="d-flex flex-column"
        (ngSubmit)="createPost(postTitle.value)">
        <input
          autofocus
          class="p-1"
          type="text"
          name="postTitle"
          #postTitle
          placeholder="Enter the article's title"
        >
        <button type="submit"><i class="fa fa-check"></i></button>
      </form>
      <div class="divider"></div>
    </div>
    <a
      *ngFor="let post of posts$ | async; let i = index"
      [routerLink]="[i]"
      (click)="showFullPost(i, false)"
    >
      <app-post
        [config]="postListItemConfig"
        [post]="post"
      >
      </app-post>
    </a>
  </mat-drawer>
  <mat-drawer-content>
    <app-authors-posts-toolbar
      *ngIf="selectedPost$ | async; let selectedPost"
      [selectedPostTitle]="selectedPost.title"
      [isEditingTitle]="isEditingTitle"
      (editTitle)="isEditingTitle = $event"
      (saveTitle)="saveTitle($event)"
    >
    </app-authors-posts-toolbar>
    <router-outlet ></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
