<mat-drawer-container class="posts-drawer-container">
  <mat-drawer mode="side" opened class="posts-drawer">
    <app-authors-post-list-toolbar>
    </app-authors-post-list-toolbar>
    <a
      *ngFor="let post of posts$ | async; let i = index"
      [routerLink]="[i]"
      (click)="showFullPost(i, false)"
    >
      <app-post
        [config]="postListItemConfig"
        [post]="post"
      >
      </app-post>
    </a>
  </mat-drawer>

  <mat-drawer-content>
  <app-authors-posts-toolbar [selectedPostTitle]="(selectedPost$ | async).title">

  </app-authors-posts-toolbar>
    <router-outlet ></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
