<ng-container *ngIf="(poem$ | async) as poem">
  <div class="poem-container">
    <h1 mat-dialog-title class="text-center poem-title">{{ poem.title }}
      <app-copy-to-clipboard
        [description]="'Copy Sharable Link'"
        [contentToCopy]="currentLocation"
        (copied)="linkCopied()"
      ></app-copy-to-clipboard>
    </h1>
    <div mat-dialog-content class="poem-body">
      <p [innerHtml]="poem.body"></p>
    </div>
    <div mat-dialog-actions>
      <app-slide-control
        (previous)="goToPrevious(poem.id)"
        (next)="goToNext(poem.id)"
        (play)="startSlideShow(poem.id)"
        (pause)="pauseSlideShow(poem.id)"
        [controlsColor]="'#fff'"></app-slide-control>
    </div>
  </div>
</ng-container>
