
.poem-container {
  display:  flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 60vw;
  max-height: 80vh;
  overflow-y: auto;
  background-color: rgba($color: #1E1E24, $alpha: 0.95);
  margin: 0;
  padding: 0;
  border-radius: .5rem;


  animation: transitionIn 1s;

}

.poem-body, .title-wrapper, .actions {
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.poem-body {
  font-size: 90%;
  margin-top: 15vh;
  margin-bottom: 10vh;
  width: 100%;
  height: 90%;
  animation: transitionIn 1s;

}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10vh;
  width: 58%;
  background-color: rgba($color: #1E1E24, $alpha: 1);
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 10vh;
  width: 58%;
  height: 10%;
  animation: transitionIn 1s;

  .title {
    animation: transitionIn 1s;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
