
<div class="container mt-2 about">
    <a class="text-light fixed-top ml-2 mt-3" routerLink="/public/posts">
      <button class="btn btn-primary">
        <i class="fa fa-arrow-left"></i>
        Button
      </button>
    </a>
   <h1 class="text-center">About</h1>
   <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec mattis lorem. Cras metus lectus, vehicula eu nisl at, pulvinar ultricies nisl. Morbi hendrerit gravida nisl at dictum. Donec sit amet dui blandit, faucibus justo sed, consequat arcu. Nullam est neque, feugiat vitae mi ac, facilisis interdum leo. Phasellus hendrerit magna sit amet lobortis suscipit. Curabitur quis fringilla orci, fringilla blandit ante. Pellentesque eu orci eget justo sollicitudin consequat non cursus nunc. Phasellus ac maximus neque, sed maximus est.
   </p>
   <p>
      Sed egestas nulla sit amet lectus sollicitudin, ac porta mi lacinia. Nam nec pharetra justo. Donec eget enim nec libero sodales pellentesque eget eu leo. Vivamus blandit ligula nec lorem placerat vestibulum. Nullam sed efficitur lacus, et tempus mi. Aliquam eu ante placerat eros sagittis maximus eu eu ligula. Curabitur non lectus sapien.
    </p>
    <p>
      Vestibulum sollicitudin laoreet bibendum. Vestibulum pharetra nisl eu dignissim finibus. Duis faucibus iaculis nibh non facilisis. Ut ac mauris viverra, tristique nisi in, euismod felis. Nullam turpis ipsum, finibus sed vulputate sit amet, bibendum ut nisi. Aliquam euismod vel erat sed vestibulum. Integer quis elit in nibh hendrerit placerat. Vestibulum tempor dapibus ante id bibendum. Donec porta sem non viverra vulputate. Sed semper orci eget massa hendrerit, id varius sem elementum. Morbi at interdum nunc, eu ornare lectus.
    </p>
    <p>
      In ut mollis ligula. Morbi hendrerit leo eget metus malesuada placerat sit amet eget nisl. Quisque nisl augue, ultrices sit amet blandit quis, auctor et erat. Donec volutpat, augue bibendum semper malesuada, nibh metus varius risus, at malesuada velit quam in nisl. Fusce consequat fringilla nulla, in aliquet tellus iaculis vel. Etiam in congue lectus. Ut pharetra, orci sed tincidunt pulvinar, purus magna dictum nisl, eget egestas ex mi et eros. Morbi eu leo ac mi aliquam pretium. Duis vehicula vel enim et tristique.
    </p>
</div>
