<div class="container-fluid dashboard">
  <app-authors-section [sectionTitle]="'Quick Actions'">
    <div class="mr-1">
      <app-author-quick-action-button
        [faIconClass]="'fa fa-newspaper-o'"
        [quickActionTitle]="'Crete New Article'"
        (clicked)="createNewArticle()"
      >
      </app-author-quick-action-button>
    </div>
    <div class="mr-1 ml-1">
      <app-author-quick-action-button
        [faIconClass]="'fa fa-folder-open'"
        [quickActionTitle]="'Create Category'"
        (clicked)="showCategoryForm()"
      >
      </app-author-quick-action-button>
      <app-author-create-category
        *ngIf="isCategoryFormDisplayed"
        (createCategory)="createCategory($event)"
      >
      </app-author-create-category>
    </div>

  </app-authors-section>

  <!-- Quick Statistics -->
  <app-authors-section
  [sectionTitle]="'Quick Statistics'"
  [isLoading]="isArticlesStatisticsLoading$ | async"
  >
    <ng-container *ngIf="articlesStatistics$ | async as stat">
      <div class="ml-2 mr-2">
        <app-authors-number-widget
          [statistics]="stat.articleWithMostComments"
        ></app-authors-number-widget>
      </div>
      <div class="ml-2 mr-2">
        <app-authors-number-widget
          [statistics]="stat.mostLikedArticle"
        ></app-authors-number-widget>
      </div>
      <div class="ml-2 mr-2">
        <app-authors-number-widget
          [statistics]="stat.mostPopularArticle"
        ></app-authors-number-widget>
      </div>
    </ng-container>
  </app-authors-section>

  <app-authors-section
    [sectionTitle]="'All Categories'"
    [isLoading]="isCategoriesSummariesLoading$ | async">
    <ng-container *ngIf="categoriesSummaries$ | async as categoriesSummaries">
      <div *ngFor="let summary of categoriesSummaries" class="mr-2 ml-2">
        <app-authors-category-summary-widget
          [categorySummary]="summary"
        ></app-authors-category-summary-widget>
      </div>
    </ng-container>
  </app-authors-section>

  <!-- Articles Motherboard  -->
  <app-authors-section [sectionTitle]="'Articles Leatherboard'">

    <!-- Top 10 Drafts  -->
    <div class="w-100 row mt-2">
      <div class="col-sm-12 col-md-6 list-panel">
        <app-authors-list-panel [listTitle]="'Top 10 Articles'">
          <app-authors-articles-list
            [articlesList]="top10Articles$ | async"
            [isLoading]="isTop10ArticlesLoading$ | async"
          >
          </app-authors-articles-list>
        </app-authors-list-panel>
      </div>

      <!-- Last 10  Drafts-->
      <div class="col-sm-12 col-md-6 list-panel">
        <app-authors-list-panel [listTitle]="'Last 10 Drafts'">
          <app-authors-articles-list
            [articlesList]="last10Drafts$ | async"
            [isLoading]="isLast10DraftsLoading$ | async"
          ></app-authors-articles-list>
        </app-authors-list-panel>
      </div>
    </div>
  </app-authors-section>
</div>

