<div class="container-fluid">
  <h1 class="mb-4">Dashboard</h1>
  <div class="w-100">
    <h4>
      Quick Actions
    </h4>
    <div class="d-flex p-4">
      <div class="mr-1">
      <app-author-quick-action-button
        [faIconClass]="'fa fa-newspaper-o'"
        [quickActionTitle]="'Crete New Article'"
      >
      </app-author-quick-action-button>
    </div>
    <div class="mr-1">
      <app-author-quick-action-button
        [faIconClass]="'fa fa-folder-open'"
        [quickActionTitle]="'Create Category'"
      >
      </app-author-quick-action-button>
    </div>
  </div>
  <div class="w-100 mt-4">
    <h4 class="text-underline">Quick statistics</h4>
    <div class="row mt-2">
      <ng-container *ngIf="articlesStatistics$ | async as statistics">
        <div *ngFor="let stat of statistics" class="col-sm-12 col-md-4">
          <app-authors-number-widget
          [statistics]="stat"
        ></app-authors-number-widget>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="w-100 mt-4">
    <h4>Articles Leatherboard</h4>
    <div class="row mt-2">
      <div class="col-sm-12 col-md-6 list-panel">
        <app-authors-list-panel [listTitle]="'Top 10 Articles'">
          <app-authors-articles-list [articlesList]="top10Articles$ | async"></app-authors-articles-list>
        </app-authors-list-panel>
      </div>
      <div class="col-sm-12 col-md-6 list-panel">
        <app-authors-list-panel [listTitle]="'Last 10 Drafts'">
          <app-authors-articles-list [articlesList]="last10Drafts$ | async"></app-authors-articles-list>
        </app-authors-list-panel>
      </div>
    </div>
  </div>
</div>

