.poem-container {
  height: 50vh;
  padding: 0 .1rem;
  width: 100%;
  margin-bottom: .2rem;
  overflow-x: hidden;
  animation: transitionIn 1s;
  margin-left: 0;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

