.poem-container {
  min-height: 30vh;
  max-height: 50vh;  padding: 0 0.1rem;
  width: 100%;
  margin-bottom: 0.2rem;
  overflow-x: hidden;
  animation: transitionIn 1s;
  margin-left: 0;
  overflow-y: auto;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
