<div class="row gallery #gallery">
  <div class="col-4 poem-container">
    <app-poem>

    </app-poem>
  </div>
  <div class="col-4 poem-container">
    <app-poem>

    </app-poem>
  </div>
  <div class="col-4 poem-container">
    <app-poem>

    </app-poem>
  </div>
  <div class="col-4 poem-container">
    <app-poem>

    </app-poem>
  </div>
  <div class="col-4 poem-container">
    <app-poem>

    </app-poem>
  </div>
  <div class="col-4 poem-container">
    <app-poem>

    </app-poem>
  </div>
  <div class="col-4 poem-container">
    <app-poem>

    </app-poem>
  </div>
  <div class="col-4 poem-container">
    <app-poem>

    </app-poem>
  </div>
  <div class="col-4 poem-container">
    <app-poem>

    </app-poem>
  </div>
</div>
