.gallery {
  margin-left: auto;
  width: 98%;
  height: fit-content;
  overflow-y: visible;
  left: 3.5%;

  .poem-container {
    height: 50vh;
    padding: .2rem .1rem;
  }

  animation: transitionIn 1s;
  @keyframes transitionIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
