<header
  (window:resize)="setIsMobile()"
  class="row position-fixed fixed-top rounded w-100 nav-container"
  [class.mobile]="isMobile"
  [class.open]="isMobile && isNavOpen"
>
  <button class="col-1 text-center toggle-nav" [hidden]="!isMobile" (click)="toggleNavBar()">
    <i  class="fa" [ngClass]="{'fa-bars': !isNavOpen, 'fa-times': isNavOpen}" ></i>
  </button>
  <nav
    [hidden]="isMobile && !isNavOpen"
    class="col-12 mx-auto"
    [ngClass]="{'col-11': isMobile && isNavOpen}"
  >
    <ul class="text-center row nav-list">
      <li class="col-sm-12 col-md-1 col-lg-2">
        <a
          [routerLink]="['/profile']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active-link"
          class="d-inline-block h-100 w-100"
        >Bio</a>
    </li>
      <li class="col-sm-12 col-md-3 col-lg-3"><a [routerLink]="['/profile/work-experience']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" class="d-inline-block h-100 w-100">Experience</a></li>
      <li class="col-sm-12 col-md-3 col-lg-3"><a [routerLink]="['/articles']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" class="d-inline-block h-100 w-100">Articles</a></li>
      <li class="col-sm-12 col-md-3 col-lg-2"><a [routerLink]="['/poetry']" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="active-link" class="d-inline-block h-100 w-100">Art Gallery</a></li>
      <li class="col-sm-12 col-md-2 col-lg-2"><a [routerLink]="['/authors/login']" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="active-link" class="d-inline-block h-100 w-100">Login</a></li>
    </ul>
  </nav>
</header>

<main class="container-md home-wrapper p-fixed" [class.open]="isMobile && !isNavOpen">
  <section class="row content align-items-center justify-content-center mat-elevation-z5 rounded">
    <div class="col-12 route-wrapper">
        <router-outlet></router-outlet>
    </div>
  </section>
  <section class="row mt-3 avatar-container">
    <div class="col-12">
      <img src="assets/avatar.png" class="d-block rounded m-auto"/>
    </div>
  </section>
  <section class="row mt-3">
    <div class="col-12 text-center social">
      <a href="https://twitter.com/ngfizzy" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-github"></i>
      <i class="fa fa-envelope"></i>
    </div>
  </section>
</main>
