.add-tag {
  width: fit-content;
}

.tags-list {
  min-width: 70%;
}

.add-tag-form {
  width: fit-content;

  form {
    width: 12.8rem;
  }

  input {
    width: 100%;
  }
}

.tag-form-control-container {
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin-left: auto;

  span {
    color: #007bff;
  }
}
