.articles-container {
  margin-top: 5rem;
  width: 98%;
  height: 91.6vh;
}

.scroll-hidden {
  overflow-y: hidden;
}

.scroll-auto {
  overflow-y: auto;
}

.featured-articles {
  min-height: 10rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.aside {
  right: 0;
  width: 29%;
  min-height: 100%;
}
// Small Devices
@media (min-width: 320px) and (max-width: 768px) {
  .aside {
    display: none;
  }

  .articles {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) and (max-width: 990px){
  .aside {
    display: none;
  }

  .articles {
    margin-left: auto;
    margin-right: auto;
  }
}

// // Large Devices
// @media (min-width: 768px) and (max-width: 1199.98px) {
//   .articles-container {
//     margin: auto;
//     margin-top: 14% !important;
//     width: 90%;
//   }
// }

// // Extra large devices
// @media (min-width: 1200px) {

//   .articles-container {
//     margin: 0 !important;
//     margin-left: -3% !important;
//     margin-top: 9% !important;
//     width: 65%;
//     border: 1px solid white;
//   }
// }
