/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s linear 0s;
  line-height: 1.5;
  background-color:  rgba(30, 30, 50, 0.887);
  color: hsla(0,0%,100%,.8);
}
