.author-info {
  margin-top: 6%;
  margin-left: 1em;
}

.author-description {
  font-size: medium;
}

.author-title{
  font-size: large;
}

.author-subtitle {
  color: hsla(0,0%,100%,.8);
}

.author-card {
  background-color: rgba(30, 30, 47, 1);
  color: hsla(0,0%,100%,.8);
}

.public {
  width: 55%;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 6%;
}
