
<div class="container-md home-wrapper">
  <main class="row  main">
    <div class="col-12">
      <header>
        <h1 class="text-center"><a [routerLink]="['/']">Olufisayo Bamidele</a></h1>
      </header>

      <div class="row author-info">
        <p class="col-sm-12 col-md-8 text-center ml-auto mr-auto mb-5 ">
          Hello! M name is John Doe, a Software Developer and a writer based in Nigeria.
          When I'm not doing an of those things, netflix and chill.
        </p>


        <p class="col-sm-12 col-md-8 text-center m-auto">
          I am more experienced in Web Development with skills in Javascript/Node.js, PHP and frameworks
          within these language domain. Although those are m current area of knowledge, I'm always excited
          when there is an opportunity to explore something new.
        </p>
      </div>

      <div class="row mt-3 avatar-container">
        <div class="col-12">
          <img src="assets/avatar.png" class="d-block w-25 rounded m-auto"/>
        </div>
      </div>
      <div class="row mt-3  ">
        <div class="col-12 text-center social">
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-github"></i>
          <i class="fa fa-envelope"></i>
        </div>
      </div>
      <div class="row mt-3 border"></div>
      <div class="row mt-3 nav-container">
        <nav class="col-12">
          <h5 class="text-center">Links</h5>
          <ul class="text-center w-100">
            <li><a [routerLink]="['/articles']">Articles</a></li>
            <li><a [routerLink]="['/poetry']">Poetry</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </main>
</div>
