.form-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 3rem;
  margin: auto;
  margin-top: 5em;
  background-color: rgba(130, 2, 99, 0.3);

  input::placeholder {
    color: rgba(255, 255, 255, .5);
  }

  button {
    display: block;
    width: 7rem;
    height: 3rem;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
  }
}
