<mat-list class="w-100 articles-list list-group">

  <div *ngIf="isLoading" class="list-spinner-container">
    <app-loading-and-empty-state
      [isLoading]="isLoading"
      [content]="articlesList?.length"
    >

    </app-loading-and-empty-state>
  </div>



  <a
    *ngFor="let article of articlesList"
    [routerLink]="['/authors/articles', article.id]"
    (click)="$event.preventDefault(); onShowFullArticle(article.id);"
  >
    <mat-list-item class="list-group-item item">{{article.title}}</mat-list-item>
  </a>
</mat-list>
