<mat-list class="w-100 articles-list list-group">

  <div *ngIf="isLoading" class="list-spinner-container">
    <mat-progress-spinner
    class="mx-auto"
    mode="indeterminate"
    value="90"
    diameter="50"
    >
    </mat-progress-spinner>
  </div>

  <a
    *ngFor="let article of articlesList"
    [routerLink]="['/authors/articles', article.id]"
    (click)="$event.preventDefault(); onShowFullArticle(article.id);"
  >
    <mat-list-item class="list-group-item item">{{article.title}}</mat-list-item>
  </a>
</mat-list>
