.gallery {
  box-sizing: content-box;
  margin-left: auto;
  width: 96vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 8rem;
  margin: auto;
  margin-top: 8rem;
  margin-right: 1rem;
  overflow-y: auto;
  height: 91vh;


  ::ng-deep & > .row {
    margin-left: 0;
    margin-right: 0;
  }
}
