.gallery {
  box-sizing: content-box;
  position: absolute;
  margin-left: auto;
  width: 96vw;
  height: fit-content;
  left: 4%;

  ::ng-deep &>.row {
    margin-left: 0;
    margin-right: 0;
  }
}
